/*///////////////////////////////
//          WIREFRAME          //
///////////////////////////////*/
#wireFrame {
    background-color: #f5f5f5;
    margin: 10% auto;
    max-width: 450px;
    min-height: 600px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
}
/*///////////////////////////////
//          INDEX.PHP          //
///////////////////////////////*/
#indexHead {
    text-align: right;
}
#indexActiveButton{
    background-color: #3696d3;
    color: white;
}
#inputForm {
    background-color: #f5f5f5;
    margin: 10% auto;
    max-width: 450px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
}
#inputForm label{
    color: #3696d3;
}
#inputForm button{
    min-width: 50%;
    background-color: #3696d3;
    color: white;
}
#inputForm span {
    color: red;
    font-weight: bold;
}
/*///////////////////////////////
//          ADMIN.PHP          //
///////////////////////////////*/
#adminActiveButton{
    background-color: #508050;
    color: white;
}
#adminForm {
    background-color: #f5f5f5;
    margin: 10% auto;
    max-width: 450px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
}
#adminForm label{
    color: #508050;
}
#adminForm button{
    min-width: 50%;
    background-color: #508050;
    color: white;
}
#adminForm a {
    color: #508050;
}
#adminForm span {
    color: red;
    font-weight: bold;
}
/*///////////////////////////////
//         LOGOUT.PHP          //
///////////////////////////////*/
#logoutButton{
    background-color: #ff8080;
    color: white;
}