/*///////////////////////////////
//          WIREFRAME          //
///////////////////////////////*/
#dWireFrame {
    background-color: #f5f5f5;
    margin: 25px auto 50px auto;
    max-width: 450px;
    min-height: 700px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
}
#dInsideFrame {
    background-color: #f5f5f5;
    margin: 25px -28px -28px -28px;
    max-width: 450px;
    min-height: 675px;
    padding: 0;
    border: double;
    border-radius: 15pt;
}
#dBackDiv {
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 5%;
    background-color: #dddddd;
}
#dHead {
    max-width: 450px;
    margin: 0 auto;
    text-align: right;
}
#dHeadLeft {
    text-align: right;
    float: left;
}
#dHeadRight {
    text-align: right;
    float: right;
}
#aWireFrame1 {
    background-color: #dddddd;
    max-width: 250px;
    min-width: 250px;
    min-height: 800px;
    margin: 0 0 0 10px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
    float: left;
}
#aWireFrame2 {
    background-color: #f5f5f5;
    max-width: auto;
    min-width: auto;
    margin: 0 10px 0 265px;
    min-height: 800px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
}
/*///////////////////////////////
//        NAVIGATION           //
///////////////////////////////*/
.nav {
    overflow: hidden;
}
.navbar-brand img{
    margin-top: 0px;
}
.navbar-brand {
    margin-left: 15px;
}
.navmenu{
    font-family: "Quattrocento Sans", sans-serif;
    margin: 0 40px 0 0;
    padding-top: 10px;
}
.navbar-toggle{
    font-family: "Quattrocento Sans", sans-serif;
    margin: 10px 30px 0 0;
}
.selected {
    background-color: white;
    border-radius: 25% 25% 0 0;
}
/*///////////////////////////////
//          INDEX.PHP          //
///////////////////////////////*/
#indexHead {
    text-align: right;
}
#indexActiveButton{
    background-color: #3696d3;
    color: white;
}
#inputForm {
     background-color: #f5f5f5;
     margin: 10% auto;
     max-width: 550px;
     padding: 20pt;
     border: double;
     border-radius: 15pt;
     text-align: center;
 }
#inputForm label{
    color: #3696d3;
}
#inputForm button{
    min-width: 50%;
    background-color: #3696d3;
    color: white;
}
#inputForm span {
    color: red;
    font-weight: bold;
}
/*///////////////////////////////
//          ADMIN.PHP          //
///////////////////////////////*/
#adminActiveButton{
    background-color: #508050;
    color: white;
}
#adminForm {
    background-color: #f5f5f5;
    margin: 10% auto;
    max-width: 550px;
    padding: 20pt;
    border: double;
    border-radius: 15pt;
    text-align: center;
}
#adminForm label{
    color: #508050;
}
#adminForm button{
    min-width: 50%;
    background-color: #508050;
    color: white;
}
#adminForm a {
    color: #508050;
}
#adminForm span {
    color: red;
    font-weight: bold;
}
/*///////////////////////////////
//           BUTTONS           //
///////////////////////////////*/
#logoutButton{
    background-color: #ff8080;
    color: white;
    min-width: 130px;
    max-width: 130px;
}
#emergencyButton{
    background-color: #00dd00;
    color: white;
    min-width: 130px;
    max-width: 130px;
}
#sheetsButtonS{
    background-color: #5080ff;
    color: white;
    min-width: 85px;
    min-height: 85px;
}
#sheetsButtonD{
    background-color: #777777;
    color: white;
    min-width: 85px;
    min-height: 85px;
}
.button{
    background-color: #5080ff;
    color: white;
    min-width: 40%;
    max-width: 40%;
    min-height: 80px;
    text-align: center;
    margin: -50px 30% 0 30%;
}
#emeButton{
    background-color: #ff8080;
    color: white;
    margin: 25% auto 0 auto;
    padding: 35px 65px;
    border-radius: 15px;
    font-size: 30px;
}
/*///////////////////////////////
//         DSHEETS.PHP         //
///////////////////////////////*/
.driverSheets{
    min-width: 100%;
    border: none;
    margin-bottom: 15px;
}
.driverSheets td{
    text-align: left;
    padding: 10px 15px;
}
.driverSheets th{
    color: #808080;
    text-align: center;
    border: none;
    padding: 10px 10px 5px 10px;
}
.driverSheets #dDSClient {
    background-color: #70bbff;
    font-weight: bold;
    font-style: italic;
}
.driverSheets #dDSAddress1 {
    border: none;
    background-color: #dddddd;
    padding: 10px 15px 0 15px;
}
.driverSheets #dDSAddress2 {
    border: none;
    background-color: #dddddd;
    padding: 0 15px 10px 15px;
}
.driverSheets #dDSNotes {
    font-style: italic;
}
.driverSheets #dDSAction {
    background-color: #70bbff;
    text-align: center;
    padding: 0;
}
.driverDetailsSheets{
    min-width: 100%;
    border: none;
}
.driverDetailsSheets th {
    color: #808080;
    text-align: left;
    padding: 10px 10px 5px 10px;
    border: none;
    min-height: 50px;
}
.driverDetailsSheets td{
    text-align: left;
    padding: 10px 10px;
}
.driverDetailsSheets #dDSClient {
    background-color: #70bbff;
    font-weight: bold;
    font-style: italic;
}
.driverDetailsSheets #dDSAddress1 {
    border: none;
    background-color: #dddddd;
    padding: 10px 10px 0 10px;
}
.driverDetailsSheets #dDSAddress2 {
    border: none;
    background-color: #dddddd;
    padding: 0 10px 10px 10px;
}
.driverDetailsSheets #dDSAddress2 {
    border: none;
    background-color: #dddddd;
}
.driverDetailsSheets #dDSAddress {
    border: solid;
    border-width: thin;
}
.driverNotesSheets{
    min-width: 10%;
    margin: 5px 0;
    border: none;
}
.driverNotesSheets th {
    color: #808080;
    text-align: left;
    padding: 10px 10px 5px 10px;
    border: none;
    min-height: 50px;
}
.driverNotesSheets td{
    text-align: left;
    padding: 0 10px;
}
.driverNotesSheets #dDSNFlag{
    text-align: center;
    padding: 0 auto;
}
.driverNotesSheets tr:nth-child(even) {
    background-color: #e3e3e3;
}
.driverNotesSheets tr:nth-child(odd) {
    background-color: #f5f5f5;
}
#dSheetsButtons {
    min-width: 80%;
    margin: 0 10% 50px 10%;
}
#currentLocation{
    min-width: 240px;
    text-align: center;
    font-weight: bold;
    border: none;
    margin: 10px auto;
    background-color: #f5f5f5;
    color: #ff8080;
}
#emergencyConfirmation{
    color: #ff8080;
    font-style: italic;
    font-weight: bold;
}